@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Bitcount+Grid+Double:wght@100..900&family=Cal+Sans&family=Manufacturing+Consent&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-color: #f0ede8;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 50px;
}

header h1 {
  font-size: 32px;
  font-weight: 700;
  color: #5e5d5c;
}
header h1 span {
  color: #ffad4c;
}
header nav {
  display: flex;
  justify-content: space-between;
  width: 35%;
}
header nav a {
  text-decoration: none;
  font-size: 20px;
  color: #4b4b4b;
  font-weight: 400;
  transition: 0.3s;
}
header nav #hm {
  color: #ffad4c;
  font-weight: 700;
}
header .icon {
  width: 6%;
  display: flex;
  justify-content: space-between;
}
header .icon i {
  font-size: 20px;
  cursor: pointer;
}
.burger {
  display: none;
}

.part1 .img1 img {
  margin-top: 130px;
  margin-left: 500px;
  margin-right: 60px;
  border-radius: 10px;
}

.part1 .img2 {
  position: relative;
}
.part1 .img2 img {
  position: absolute;
  bottom: 195px;
  border-radius: 10px;
  margin-left: 80px;
}

.part1 .img3 {
  position: relative;
}
.part1 .img3 img {
  position: absolute;
  bottom: 50px;
  border-radius: 10px;
  left: 560px;
}

.arrow {
  position: absolute;
  left: 535px;
  top: 760px;
}
.arrow img {
  border-radius: 10px;
  margin-right: 20px;
}
.part2 h3 
{
	font-size: 24px;
	font-family: "Roboto", sans-serif;
  	font-weight: 700;
  	font-style: normal;
  	letter-spacing: 1%;
  	line-height: 42px;
  	color: #8d8c8a;
  	text-align: center;
  	margin-top: 90px;

}
.part2 .Company
{
	margin-top: 50px;
}
.part2 .Company #image1
{
	margin-left: 170px;
	margin-right: 130px;
}

.part2 .Company #image2
{
	
	margin-right: 170px;
}
.part2 .Company img 
{
	mix-blend-mode: multiply;
	
}
.part3 
{
	margin-top: 170px;
	margin-left: 80px;
	display: flex;

}
.part3 .left_side
{
	margin-right: 50px;
}
.part3 .left_side h1 
{
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 1%;
  font-family: "Roboto", sans-serif;
  	font-weight: 700;
  	font-style: normal;
  	color: #4b4b4b;
  	width: 70%;
}
.part3 .left_side .showfaa_pic img

{
	mix-blend-mode: multiply;
	margin-top: 30px;
  
}
.right_side .room
{
	display: flex;
	margin-right: 50px;
	margin-bottom: 40px;
}
.right_side .texts

{
	margin-left: 20px;
}

.right_side .texts h4
{
	font-size: 24px;
	line-height: 140%;
	letter-spacing: 1%;
	font-family: "Roboto", sans-serif;
  	font-weight: 700;
  	font-style: normal;
  	margin-bottom: 10px;
  	color: #4b4b4b;
}
.right_side .texts p 
{
	font-size: 16px;
	letter-spacing: 0;
	line-height: 140%;
	font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	font-style: normal;
  	width: 70%;
  	color: #4b4b4b;
}
#button 
{
	margin-top: 60px;
	font-size: 17px;
	letter-spacing: 1%;
	line-height: 140%;
	font-family: "Roboto", sans-serif;
  	font-weight: 500;
  	font-style: normal;
  	color: #4b4b4b;
  
}
#button i 
{
	color: #ffad4c;
	margin-left: 20px;
}
.lastpart
{
	margin-top: 60px;
}
.lastpart .headpart 
{
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.lastpart .headpart h1 
{
	font-size: 32px;
	line-height: 140%;
	letter-spacing: 1%;
	font-family: "Roboto", sans-serif;
  	font-weight: 700;
  	font-style: normal;
  	margin-left: 80px;
  	color: #4b4b4b;
}

.lastpart .headpart p 
{
	font-size: 16px;
	line-height: 140%;
	letter-spacing: 1%;
	font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	font-style: normal;
  	color: #8b8987;
  	margin-right: 70px;
}
#ctn i 
{
	color: #ffad4c;
	margin-left: 20px;
}
.lastpart .list
{

	display: flex;
	align-items: space-between;
}
.lastpart .list
{
	margin-left: 70px;
}
.lastpart .list p 
{
	padding: 10px 10px;
	padding-top: 15px;
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 1%;
	font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	font-style: normal;
  	color: #91908e;
	
}
.list #all 
{
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 1%;
	font-family: "Roboto", sans-serif;
  	font-weight: 700;
  	font-style: normal;
  	color: #4b4b4b;
}
.cardsection
{
	margin-top: 40px;
	display: flex;
	margin-left: 40px;

}

.cardsection .card1 
{
	
	width: 310px;
	/*height: 310px;*/
	background-color: #fdf1e2;
	margin-left: 40px;
}
.cardsection .card1 .total-part
{
	display: flex;
	justify-content: space-between;

}
.cardsection .card1 .total-part .parah 
{
	margin-left: 20px;

}
.cardsection .card1 .total-part .parah p 
{
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 1%;
	font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	font-style: normal;
  	color: #c1b8ae;
  	margin-top: 30px;
}
.cardsection .card1 .total-part .parah h4  
{
	font-size: 20px;
	line-height: 140%;
	letter-spacing: 1%;
	font-family: "Roboto", sans-serif;
  	font-weight: 700;
  	font-style: normal;
  	color: #4b4b4b;
  	margin-top: 5px;
  	
}
.cardsection .card1 .total-part .shop-icon
{
	color: #ffad4c;
	font-size: 20px;
	margin-top: 40px;
}

.cardsection .card1 .total-part .shop-icon 
{
	margin-right: 30px;

}
.card1 img 
{
	margin-left: 60px;

}
#rate 
{
	font-size: 14px;
	line-height: 140%;
	letter-spacing: 1%;
	font-family: "Roboto", sans-serif;
  	font-weight: 700;
  	font-style: normal;
  	color: #ffad4c;
  	padding: 13px 25px;
  	border-radius: 20px;
  	border: none;
  	outline: none;
  	background-color: #fef7ef;
  	margin-left: 20px;
  	margin-bottom: 20px;
}
.card1 #secondpic 
{
	height: 290px;
	margin-left: 100px;
}
.card1 #thirdpic
{
	margin-left: 100px;
} 
.card1 #finalpic
{
	margin-left: 73px;
} 

.footer-newsletter {
  background-color: #d69e4e;
  color: #fff;
  margin-top: 100px;
  padding: 40px 70px 0;
}

.newsletter-main {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.newsletter-main .left {
  flex: 1 1 50%;
  text-align: left;
}

.newsletter-main h2 {
  margin: 0 0 10px;
  font-size: 32px;
  letter-spacing: 0.5px;
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-top: 50px;
}

.newsletter-main p {
  margin: 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.5px;
  max-width: 90%;
  margin-bottom: 70px;
}

.newsletter-main .right {
  flex: 1 1 50%;
  display: flex;
  justify-content: flex-end;
}

.newsletter-main .right form {
  display: flex;
  width: 100%;
  max-width: 420px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.newsletter-main input[type="email"] {
  flex: 1;
  padding: 18px 20px;
  border: none;
  border-radius: 6px 0 0 6px;
  font-size: 1em;
  outline: none;
}

.newsletter-main button {
  padding: 14px 24px;
  border: none;
  background-color: #f26522;
  color: #fff;
  font-size: 18px;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.divider {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  margin: 30px 0 0;
  width: 100%;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
  flex-wrap: wrap;
  gap: 10px;
   font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normel;
  font-size: 20px;
}
.footer-bottom  span {
}


.footer-bottom .copyright {
  text-align: left;
  font-size: 0.9em;
  opacity: 0.8;
  flex: 1;
}

.footer-bottom .footer-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.footer-bottom .footer-links ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  gap: 40px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}

.footer-links a:hover {
  text-decoration: underline;
}

 